body {
  background-color: coral;
}
h1 {
  text-align: center;
  text-decoration: underline;
  border: solid 4px black ;
  padding: 20px;
  background-color: lightgrey;
  width: 50%;
  margin: auto;
  
}

h2 {
  text-decoration: underline;
  text-align: center;
}

.dry-goods {
  border: solid 2px black;
  background-color: lightgrey;
  display: inline-block;
  padding: 5px;
}

.canned {
  border: solid 2px black;
  background-color: lightgray;
  display: inline-block;
  padding: 5px;
}

.fridge {
  border: solid 2px black;
  background-color: lightgray;
  display: inline-block;
  padding: 5px;
}

.freezer {
  border: solid 2px black;
  background-color: lightgray;
  display: inline-block;
  padding: 5px;
}
